<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="https://github.com/mjmarr" class="link link--dark"><i class="fab fa-github"></i></a>&nbsp;
      <a href="https://www.linkedin.com/in/mjmarr" class="link link--dark"><i class="fab fa-linkedin-in"></i></a>&nbsp;
      <li><a href="{{ '/about' | prepend: site.baseurl }}">about</a></li>
      <li><a href="{{ site.baseurl }}/">posts</a></li>
    </ul>
  </div>
</nav>
